@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    The "SalesWebMvc" is a full stack application built in the course (C# Complete), taught by DevSuperior.
    <hr />
    The objective of this project is to introduce the development of web applications with ASP.NET Core MVC.
    <hr />
    The web page presents sales records of a fictitious scenario, showing the user the company's departments, the salespeople and their respective sales. 
    The sales report's can be issued using a simplified search by period or a grouped search by department.
</p>
