@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/savio-c-caetano/">https://www.linkedin.com/in/savio-c-caetano</a>
</address>
